<h1>Restaurants</h1>


<% @restaurants.each do |restaurant| %>
<div>
  <ul>
  <li><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></li>
</div>
<% end %>

<p><%= link_to "Add a Restaurant", new_restaurant_path %></p>
